In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load
import json
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from ast import literal_eval
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/movies-imdb/final.jsonl

In [2]:
def load_jsonl_to_dataframe(file_path):
    data = []
    with open(file_path, 'r') as file:
        for line in file:
            # Load each line as JSON
            json_data = json.loads(line)
            data.append(json_data)

    # Convert the list of dictionaries to a DataFrame
    df = pd.DataFrame(data)
    return df

In [3]:
jsonl_file_path = '/kaggle/input/movies-imdb/final.jsonl'

# Load dữ liệu vào DataFrame
df_raw = load_jsonl_to_dataframe(jsonl_file_path)
df_raw['Director'] = df_raw['Director'].apply(lambda x: [] if x is np.nan else x)
df_raw['Writers'] = df_raw['Writers'].apply(lambda x: [] if x is np.nan else x)
df_raw['Stars'] = df_raw['Stars'].apply(lambda x: [] if x is np.nan else x)
df_raw['country_of_origin'] = df_raw['country_of_origin'].apply(lambda x: [] if x is np.nan else x)
df_raw['production_companies'] = df_raw['production_companies'].apply(lambda x: [] if x is np.nan else x)
df_raw['languages'] = df_raw['languages'].apply(lambda x: [] if x is np.nan else x)
df_raw['genres'] = df_raw['genres'].apply(lambda x: [] if x is np.nan else x)
df_raw.head()

,imdb_id,Director,Writers,Stars,summary,release_date,country_of_origin,production_companies,languages,tconst,originalTitle,startYear,runtimeMinutes,genres,revenue,budget
0,tt0011801,[Lupu Pick],"[Gerhard Lamprecht, Lupu Pick]","[Lupu Pick, Edith Posca, Johannes Riemann]","In Russia's revolution, a violinist 's son die...",1919 (Germany),[Germany],"[Rex-Film GmbH, See more company credits at IM...","[None, German]",tt0011801,Tötet nicht mehr,2019,\N,"[Action, Crime]",NaN,NaN
1,tt0028248,[Oswald Mitchell],"[Ivor Bellas, Oswald Mitchell, George Pearson]","[John Garrick, Jean Adrienne, Derek Blomfield]","Sailor rises ranks to captain, marries, has so...","October 18, 2022 (United Kingdom)",[United Kingdom],"[Production company, T.A. Welsh Productions, ,...",[English],tt0028248,Shipmates o' Mine,2022,87,[Musical],NaN,NaN
2,tt0035423,[James Mangold],"[Steven Rogers, James Mangold]","[Meg Ryan, Hugh Jackman, Liev Schreiber]",An English Duke from 1876 is inadvertently dra...,"April 25, 2002 (Vietnam)",[United States],"[Konrad Pictures, Miramax, , See more company ...","[English, French]",tt0035423,Kate & Leopold,2001,118,"[Comedy, Fantasy, Romance]",76019048.0,48000000.0
3,tt0062336,"[Raúl Ruiz, Valeria Sarmiento]","[Raúl Ruiz, Omar Saavedra Santis]","[Rubén Sotoconil, Claudia Paz, Luis Alarcón]",The story of a man whose wife has committed su...,"February 20, 2020 (Germany)",[Chile],"[Poetastros, See more company credits at IMDbP...",[Spanish],tt0062336,El tango del viudo y su espejo deformante,2020,70,[Drama],NaN,NaN
4,tt0069049,[Orson Welles],"[Orson Welles, Oja Kodar]","[John Huston, Oja Kodar, Peter Bogdanovich]",At a media-swamped party to celebrate his 70th...,"November 2, 2018 (France)","[France, Iran, United States]","[Royal Road Entertainment, Les Films de l'Astr...","[English, German]",tt0069049,The Other Side of the Wind,2018,122,[Drama],NaN,NaN

In [4]:
def process_list_col_category(col, name_col):
    mp = {}
    cnt = 0
    for tmp_ls in col:
        if isinstance(tmp_ls, list):
            for item in tmp_ls:
                if item not in mp and item not in ['\\N', '', 'None'] :
                    mp[item] = cnt
                    cnt += 1
    ls_mp = [{"id": value, "name": key} for key, value in mp.items()]
    with open(name_col + '.json', 'w', encoding='utf-8') as json_file:
        json.dump(ls_mp, json_file, ensure_ascii=False, indent=2)
    return mp, ls_mp

In [5]:
director_col = df_raw['Director']
mp_director, ls_director = process_list_col_category(director_col, 'director')
count = 0
for key, value in mp_director.items():
    print(f'{key}: {value}')
    count += 1
    if count == 10:
        break

Lupu Pick: 0
Oswald Mitchell: 1
James Mangold: 2
Raúl Ruiz: 3
Valeria Sarmiento: 4
Orson Welles: 5
Augusto Cabrita: 6
José Mojica Marins: 7
Gösta Werner: 8
Wayne Berwick: 9

In [6]:
writer_col = df_raw['Writers']
mp_writer, ls_writer = process_list_col_category(writer_col, 'writer')
count = 0
for key, value in mp_writer.items():
    print(f'{key}: {value}')
    count += 1
    if count == 10:
        break

Gerhard Lamprecht: 0
Lupu Pick: 1
Ivor Bellas: 2
Oswald Mitchell: 3
George Pearson: 4
Steven Rogers: 5
James Mangold: 6
Raúl Ruiz: 7
Omar Saavedra Santis: 8
Orson Welles: 9

In [7]:
star_col = df_raw['Stars']
mp_star, ls_star = process_list_col_category(star_col, 'star')
count = 0
for key, value in mp_star.items():
    print(f'{key}: {value}')
    count += 1
    if count == 10:
        break

Lupu Pick: 0
Edith Posca: 1
Johannes Riemann: 2
John Garrick: 3
Jean Adrienne: 4
Derek Blomfield: 5
Meg Ryan: 6
Hugh Jackman: 7
Liev Schreiber: 8
Rubén Sotoconil: 9

In [8]:
country_col = df_raw['country_of_origin']
mp_country, ls_country = process_list_col_category(country_col, 'country')
count = 0
for key, value in mp_country.items():
    print(f'{key}: {value}')
    count += 1
    if count == 10:
        break

Germany: 0
United Kingdom: 1
United States: 2
Chile: 3
France: 4
Iran: 5
Portugal: 6
Brazil: 7
Sweden: 8
Poland: 9

In [9]:
company_col = df_raw['production_companies']
print(company_col.iloc[:4])
mp_company, ls_company = process_list_col_category(company_col, 'company')
count = 0
for key, value in mp_company.items():
    print(f'{key}: {value}')
    count += 1
    if count == 10:
        break

0    [Rex-Film GmbH, See more company credits at IM...
1    [Production company, T.A. Welsh Productions, ,...
2    [Konrad Pictures, Miramax, , See more company ...
3    [Poetastros, See more company credits at IMDbP...
Name: production_companies, dtype: object
Rex-Film GmbH: 0
See more company credits at IMDbPro: 1
Production company: 2
T.A. Welsh Productions: 3
Konrad Pictures: 4
Miramax: 5
Poetastros: 6
Royal Road Entertainment: 7
Les Films de l'Astrophore: 8
SACI: 9

In [10]:
language_col = df_raw['languages']
print(language_col.iloc[:4])
mp_language, ls_language = process_list_col_category(language_col, 'language')
count = 0
for key, value in mp_language.items():
    print(f'{key}: {value}')
    count += 1
    if count == 10:
        break

0       [None, German]
1            [English]
2    [English, French]
3            [Spanish]
Name: languages, dtype: object
German: 0
English: 1
French: 2
Spanish: 3
Portuguese: 4
Swedish: 5
Polish: 6
Yiddish: 7
Russian: 8
Marathi: 9

In [11]:
genre_col = df_raw['genres']
print(genre_col.iloc[:20])
mp_genre, ls_genre = process_list_col_category(genre_col, 'genre')
count = 0
for key, value in mp_genre.items():
    print(f'{key}: {value}')
    count += 1
    if count == 10:
        break

0                [Action, Crime]
1                      [Musical]
2     [Comedy, Fantasy, Romance]
3                        [Drama]
4                        [Drama]
5                        [Drama]
6                  [Documentary]
7                       [Horror]
8       [Biography, Documentary]
9       [Comedy, Horror, Sci-Fi]
10                       [Drama]
11        [Action, Crime, Drama]
12                 [Documentary]
13                          [\N]
14      [Comedy, Drama, Fantasy]
15            [Biography, Drama]
16                 [Documentary]
17             [Comedy, Mystery]
18                 [Documentary]
19                 [Documentary]
Name: genres, dtype: object
Action: 0
Crime: 1
Musical: 2
Comedy: 3
Fantasy: 4
Romance: 5
Drama: 6
Documentary: 7
Horror: 8
Biography: 9

In [12]:
df_processed = df_raw.copy()
df_processed.head()

,imdb_id,Director,Writers,Stars,summary,release_date,country_of_origin,production_companies,languages,tconst,originalTitle,startYear,runtimeMinutes,genres,revenue,budget
0,tt0011801,[Lupu Pick],"[Gerhard Lamprecht, Lupu Pick]","[Lupu Pick, Edith Posca, Johannes Riemann]","In Russia's revolution, a violinist 's son die...",1919 (Germany),[Germany],"[Rex-Film GmbH, See more company credits at IM...","[None, German]",tt0011801,Tötet nicht mehr,2019,\N,"[Action, Crime]",NaN,NaN
1,tt0028248,[Oswald Mitchell],"[Ivor Bellas, Oswald Mitchell, George Pearson]","[John Garrick, Jean Adrienne, Derek Blomfield]","Sailor rises ranks to captain, marries, has so...","October 18, 2022 (United Kingdom)",[United Kingdom],"[Production company, T.A. Welsh Productions, ,...",[English],tt0028248,Shipmates o' Mine,2022,87,[Musical],NaN,NaN
2,tt0035423,[James Mangold],"[Steven Rogers, James Mangold]","[Meg Ryan, Hugh Jackman, Liev Schreiber]",An English Duke from 1876 is inadvertently dra...,"April 25, 2002 (Vietnam)",[United States],"[Konrad Pictures, Miramax, , See more company ...","[English, French]",tt0035423,Kate & Leopold,2001,118,"[Comedy, Fantasy, Romance]",76019048.0,48000000.0
3,tt0062336,"[Raúl Ruiz, Valeria Sarmiento]","[Raúl Ruiz, Omar Saavedra Santis]","[Rubén Sotoconil, Claudia Paz, Luis Alarcón]",The story of a man whose wife has committed su...,"February 20, 2020 (Germany)",[Chile],"[Poetastros, See more company credits at IMDbP...",[Spanish],tt0062336,El tango del viudo y su espejo deformante,2020,70,[Drama],NaN,NaN
4,tt0069049,[Orson Welles],"[Orson Welles, Oja Kodar]","[John Huston, Oja Kodar, Peter Bogdanovich]",At a media-swamped party to celebrate his 70th...,"November 2, 2018 (France)","[France, Iran, United States]","[Royal Road Entertainment, Les Films de l'Astr...","[English, German]",tt0069049,The Other Side of the Wind,2018,122,[Drama],NaN,NaN

In [13]:
def mapping_category(mp):
    def mapping(row):
        ls = []
        for item in row:
            if item not in ['\\N', '', 'None']:
                ls.append(mp[item])
        return ls
    return mapping

In [14]:
df_processed['Director'] = df_processed['Director'].apply(mapping_category(mp_director))
df_processed['Writers'] = df_processed['Writers'].apply(mapping_category(mp_writer))
df_processed['Stars'] = df_processed['Stars'].apply(mapping_category(mp_star))
df_processed['country_of_origin'] = df_processed['country_of_origin'].apply(mapping_category(mp_country))
df_processed['production_companies'] = df_processed['production_companies'].apply(mapping_category(mp_company))
df_processed['languages'] = df_processed['languages'].apply(mapping_category(mp_language))
df_processed['genres'] = df_processed['genres'].apply(mapping_category(mp_genre))
df_processed['runtimeMinutes'] = df_processed['runtimeMinutes'].fillna(0)\
            .apply(lambda x: 0 if x == '\\N' else x)
df_processed['revenue'] = df_processed['revenue'].fillna(0)
df_processed['budget'] = df_processed['budget'].fillna(0)
df_processed.head()

,imdb_id,Director,Writers,Stars,summary,release_date,country_of_origin,production_companies,languages,tconst,originalTitle,startYear,runtimeMinutes,genres,revenue,budget
0,tt0011801,[0],"[0, 1]","[0, 1, 2]","In Russia's revolution, a violinist 's son die...",1919 (Germany),[0],"[0, 1]",[0],tt0011801,Tötet nicht mehr,2019,0,"[0, 1]",0.0,0.0
1,tt0028248,[1],"[2, 3, 4]","[3, 4, 5]","Sailor rises ranks to captain, marries, has so...","October 18, 2022 (United Kingdom)",[1],"[2, 3, 1]",[1],tt0028248,Shipmates o' Mine,2022,87,[2],0.0,0.0
2,tt0035423,[2],"[5, 6]","[6, 7, 8]",An English Duke from 1876 is inadvertently dra...,"April 25, 2002 (Vietnam)",[2],"[4, 5, 1]","[1, 2]",tt0035423,Kate & Leopold,2001,118,"[3, 4, 5]",76019048.0,48000000.0
3,tt0062336,"[3, 4]","[7, 8]","[9, 10, 11]",The story of a man whose wife has committed su...,"February 20, 2020 (Germany)",[3],"[6, 1]",[3],tt0062336,El tango del viudo y su espejo deformante,2020,70,[6],0.0,0.0
4,tt0069049,[5],"[9, 10]","[12, 13, 14]",At a media-swamped party to celebrate his 70th...,"November 2, 2018 (France)","[4, 5, 2]","[7, 8, 9, 1]","[1, 0]",tt0069049,The Other Side of the Wind,2018,122,[6],0.0,0.0

In [15]:
df_movie_director = df_processed[['imdb_id', 'Director']].explode('Director')
df_movie_director.head(6)

     imdb_id Director
0  tt0011801        0
1  tt0028248        1
2  tt0035423        2
3  tt0062336        3
3  tt0062336        4
4  tt0069049        5

In [16]:
df_movie_writer = df_processed[['imdb_id', 'Writers']].explode('Writers')
df_movie_writer.head()

     imdb_id Writers
0  tt0011801       0
0  tt0011801       1
1  tt0028248       2
1  tt0028248       3
1  tt0028248       4

In [17]:
df_movie_star = df_processed[['imdb_id', 'Stars']].explode('Stars')
df_movie_star.head()

     imdb_id Stars
0  tt0011801     0
0  tt0011801     1
0  tt0011801     2
1  tt0028248     3
1  tt0028248     4

In [18]:
df_movie_country = df_processed[['imdb_id', 'country_of_origin']].explode('country_of_origin')
df_movie_country.head()

     imdb_id country_of_origin
0  tt0011801                 0
1  tt0028248                 1
2  tt0035423                 2
3  tt0062336                 3
4  tt0069049                 4

In [19]:
df_movie_company = df_processed[['imdb_id', 'production_companies']].explode('production_companies')
df_movie_company.head()

     imdb_id production_companies
0  tt0011801                    0
0  tt0011801                    1
1  tt0028248                    2
1  tt0028248                    3
1  tt0028248                    1

In [20]:
df_movie_language = df_processed[['imdb_id', 'languages']].explode('languages')
df_movie_language.head()

     imdb_id languages
0  tt0011801         0
1  tt0028248         1
2  tt0035423         1
2  tt0035423         2
3  tt0062336         3

In [21]:
df_movie_genre = df_processed[['imdb_id', 'genres']].explode('genres')
df_movie_genre.head()

     imdb_id genres
0  tt0011801      0
0  tt0011801      1
1  tt0028248      2
2  tt0035423      3
2  tt0035423      4

In [22]:
df_processed.to_csv('movie.csv')
df_movie_director.to_csv('movie_director.csv')
df_movie_writer.to_csv('movie_writer.csv')
df_movie_star.to_csv('movie_star.csv')
df_movie_country.to_csv('movie_country.csv')
df_movie_company.to_csv('movie_company.csv')
df_movie_language.to_csv('movie_language.csv')
df_movie_genre.to_csv('movie_genre.csv')